@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* nav checkbox and responsiveness*/
#nav:checked ~ .nav-items {
	display: block;
	position: fixed;
	background-color:rgb(132, 155, 161);
	top: 70px;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
}

/* nav styling */
.nav-item{
	padding: 5px 15px;
}

/* animate bars */
.box{
	transition: transform 0.4s ease;
}

/* animation styling */
/* selecting the second box bar to remove it*/
#nav:checked ~ .box-parent {
 .box:nth-child(2){
   opacity: 0;
 }

/* selecting first and last bars to translate them */
.box:nth-child(1){
	transform: rotate(40deg) translate(1px, 3px);
}
.box:nth-child(3){
	transform: rotate(-40deg) translate(3.8px, -8px);
}
}
.splide__slide{
	height: 75vh;
}
/* .text{
    margin-right:200px;
	transition: margin-left 3s;
} */
.brand-img-1:hover{
  opacity: 1;
  margin-left: 30px;
  transition: all 1s;
}